body {
  background-color: #7E79E8;
  margin: 0px;
  font-family: 'Lato', sans-serif;
}

header {
  padding: 0em 1em;
  color: #ffffff;
}

header a {
  color: #ffffff;
  text-decoration: none;
}

header h1 {
  font-family: 'Suranna', serif;
  font-weight: 400;
  margin: 0px;
}

.header-item {
  display: inline-block;
  vertical-align: middle;
}

.header-item img {
  margin-right: -8px;
  -webkit-filter: invert(100%);
  height: 40px;
}

.nav a:hover, .nav a.active {
  border-bottom: 2px solid #ffffff;
}

.nav li {
  list-style-type: none;
  display: inline;
}

.nav li a {
  font-size: 20px;
  padding: 6px;
  margin: 0px 30px;
  border-bottom: 2px solid #7E79E8;
  transition: all 0.2s ease-in-out;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: #333333;
}

#page {
  background-color: #ffffff;
}

#text {
  padding: 4em 2em;
  width: 40em;
  margin: 0 auto;
}

#text p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333;
  font-size: 18px;
  line-height: 1.5;
}

footer {
  padding: 1em 2em;
  text-align: center;
  color: #ffffff;
  font-size: 18px;
}

ul.social {
  padding: 0;
}

.social li {
  list-style-type: none;
  display: inline-block;
}

.social li a i {
  background: #ffffff;
  color: #7E79E8;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  font-size: 16px;
  padding: 6px;
  /* padding: 18%; */
  margin: 2px;
}

.social li a i:hover {
  opacity: .7;
}